<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<header th:replace="index/header.html"></header>
		<p>Vehicles!</p>
		<table class="table">
			<tr>
				<th>Description</th>
				<th>Max Volume</th>
				<th>Max Weight</th>
				<th>Action</th>
			<tr>
			<tr th:each="vehicle : ${vehicles}">
				<td th:text="${vehicle.getDescription()}"></td> 
				<td th:text="${vehicle.getMaxVolume()}"></td>
				<td th:text="${vehicle.getMaxWeight()}"></td>
				<td>
					<a class="btn" role="button" th:href="${'vehicle/edit/'+vehicle.getId()}">Edit</a>
				</td>
			</tr>
		</table>
	<footer th:insert="index/footer.html"></footer>
</body>
</html>