<header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</header>
<nav class="navbar navbar-dark bg-dark">
 	<div class="row">
  		<h2 class="text-light">PostTracking</h2>
	</div>
</nav>

<div class="container">
	<div class="row">
 		<div class="col">
			<nav class="nav flex-column">
				<a class="nav-link" href="/vehicles">Vehicles</a>
				<a class="nav-link" href="/routes">Routes</a>
				<a class="nav-link" href="/packages">Packages</a>
				<a class="nav-link" href="/clients">Clients</a>
				<a class="nav-link" href="/dcs">Dist. Centers</a>
			</nav>
		</div>
   		<div class="col-10">