<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<header th:replace="index/header.html"></header>
    <h1>Journeys</h1>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Details</th>
        <tr>
        <tr th:each="journey : ${filledJourneys}">
            <td th:text="${journey.getId()}"></td>
            <td th:text="${journey.getOrigin().getName()}"></td> 
            <td th:text="${journey.getDestination().getName()}"></td>
            <td th:text="${journey.getStart()}"></td>
            <td><a role="button" class="btn btn-sm btn-primary" th:href="${'/journeys/'+journey.getId()}">View</a></td>
        </tr>
    </table>
</body>
